@font-face {
  font-family: Frederick Simms;
  font-weight: 700;
  src: url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/frederick-simms/Frederick Simms Bold.otf')
    format('opentype');
}

@font-face {
  font-family: Frederick Simms;
  font-weight: 500;
  src: url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/frederick-simms/Frederick Simms Bold.otf')
    format('opentype');
}

@font-face {
  font-family: Frederick Simms;
  font-weight: 400;
  src: url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/frederick-simms/Frederick Simms Regular.otf')
    format('opentype');
}

@font-face {
  font-family: Frederick Simms;
  font-weight: 300;
  src: url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/frederick-simms/Frederick Simms Light.otf')
    format('opentype');
}

@font-face {
  font-family: Frederick Simms;
  src: url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/frederick-simms/Frederick Simms Light.otf')
    format('opentype');
  font-style: italic;
}
