@font-face {
  font-family: GT Walsheim;
  font-weight: 400;
  src: url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/gt-walsheim/GT-Walsheim-Regular.woff2')
      format('woff2'),
    url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/gt-walsheim/GT-Walsheim-Regular.woff')
      format('woff'),
    url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/gt-walsheim/GT-Walsheim-Regular.ttf')
      format('truetype');
  font-display: swap;
}

/* Main body font (medium) */
@font-face {
  font-family: GT Walsheim;
  font-weight: 500;
  src: url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/gt-walsheim/GT-Walsheim-Medium.woff2')
      format('woff2'),
    url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/gt-walsheim/GT-Walsheim-Medium.woff')
      format('woff'),
    url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/gt-walsheim/GT-Walsheim-Medium.ttf')
      format('truetype');
  font-display: swap;
}

/* Main body font (bold) */
@font-face {
  font-family: GT Walsheim;
  font-weight: 700;
  src: url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/gt-walsheim/GT-Walsheim-Bold.woff2')
      format('woff2'),
    url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/gt-walsheim/GT-Walsheim-Bold.woff')
      format('woff'),
    url('https://wcfmc-web-assets.s3.eu-west-2.amazonaws.com/fonts/gt-walsheim/GT-Walsheim-Bold.ttf')
      format('truetype');
  font-display: swap;
}
